@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(248 250 252);
}

/* 
.hero {
  background-image: url('../../public/image/blogging.svg');
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
} */
